@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";

#title {
    text-align: center;
}

#plus-sign {
    cursor: pointer;
}

.row {
    margin: 15px 0;
}

.btn-group {
    text-align: center;
}

.btn-group > .btn {
    float: none;
}

.btn-group .btn-secondary {
    background-color: #fff;
    border: 1px solid #ccc;

    &:hover {
        background-color: #ddd;
    }
}

.input-group[class*=col-],
.list-group {
    padding: 0 15px;
    box-shadow: none;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}

.list-group-item {
    cursor: pointer;
}

.glyphicon-remove {
    float: right;
    color: #ccc;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    background-color: #efefef;
}
